@import "base";

img#dodo_mexicain{
	position: absolute;
	right: 55px; top: 1140px;

	width: 150px;
	height: auto;

}

img#arbre_feuilles{
	position: absolute;
	right: 0px; top: 1027px;

	width: 100px;
	height: auto;
}

img#chat{
	position: absolute;

	width: 100px;
	height: auto;
}

#change_text-title{
	position: absolute;
	top: 210px;
}